<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>art_puzzle</name>
    <displayName>Art Puzzle</displayName>
    <version>1.0.0</version>
    <description><![CDATA[Modulo PrestaShop per la creazione di puzzle personalizzati.]]></description>
    <author>Chiara Berti</author>
    <tab>front_office_features</tab>
    <need_instance>0</need_instance>
    <ps_versions_compliancy>
        <min>1.7.6.9</min>
        <max>1.7.6.9</max>
    </ps_versions_compliancy>
    <dependencies>
        <dependency id="tcpdf"/>
    </dependencies>
</module>
